*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image:url("101.png");
    background-size: cover; 
    background-position: center;
    height: 109vh;
   }  

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    padding-left: 0px;
    float: left;
    padding-top: 0px;
}

.menu{
    width:400px;
    float: left;
    height: 70px;
}

.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:50% ;
}

.menu ul li{
    list-style: none;
    margin-left: 80px;
    margin-top: 30px;
    font-size: 14px;
}

.menu ul li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    width: 40px;
        height: 30px;
        border: 10px;
        outline: none;
        border-radius: 2px;
        box-shadow: 5px 5px 8px #00000020,
            -5px -5px 8px #ffff;
}

.menu ul li a:hover{
    color: #00ace6;
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
            inset -5px -5px 8px #fff;
        background: #fff;
}

.search{
    width: 300px;
    float: left;
    margin-left: 300px;
}

.srch{
    font-family:'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid red;
    margin-top: 13px;
    color: rgb(0, 0, 0);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}



.sub-menu{
    display: none;
}

.menu ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background: transparent;
    
}

.menu ul li:hover .sub-menu ul{
    display: block;
    margin: 2px;
}

.sub-menu ul li{
    width: 120px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
    margin-left: 70px;
}

.menu ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}



.part1-text{
	width: 550px;
}
.hero{
    width: 250px;
    height: 380px;
    position: absolute;
    top: 150px;
    left: 680px;
    transform: translate(0%,-5%);
    padding: 25px;
   
}
.part1-text h2{
	color: black;
	font-size: 30px;
	text-transform: capitalize;
	margin-bottom: 20px;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: bold;
    color: #060505;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 6px 1px #919191,
    1px 18px 6px rgba(232, 226, 226, 0.4),
    1px 22px 10px rgba(207, 199, 199, 0.2),
    1px 25px 35px rgba(211, 201, 201, 0.2),
    1px 30px 60px rgba(223, 213, 213, 0.4);
    
}
.part1-text h5{
	color: black;
	letter-spacing: 2px;
	font-size: 20px;
	margin-bottom: 25px;
	text-transform: uppercase;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 2px 1px #919191,
    1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 2px 1px #919191,
1px 6px 6px rgba(232, 226, 226, 0.4),
1px 8px 8px rgba(207, 199, 199, 0.2),
1px 10px 20px rgba(211, 201, 201, 0.2),
1px 15px 30px rgba(223, 213, 213, 0.4);

}
.part1-text p{
	color: rgba(6, 6, 6, 0.8);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 15px;
	margin-bottom: 45px;
    left: 870px;
}

.footer-mai{
    width: 200%;
    background:#090505;
    height: 30vh;
    margin-top: 700px;
   }  
  
  .footer-row{
    width: 1200px;
    display: block;
   flex-wrap: wrap;
   padding-top: 40px;
   padding-top: 200pxpx;
  }
  
  
  
  .footer-logo{
    padding-left: 0px;
    float: left;
    padding-top: 0px;
    width: 20%;
  }
  
  .footer-col{
    width:10%;
    float: left;
    padding:0 15px;
  }
  
  .footer-ul{
    float: left;
    justify-content: center;
    align-items: center;
  
  }
  
  
  
  .footer-col ul li a{
    font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  
  
  }
  
  .footer-col ul li a:hover{
    color: rgb(25, 194, 200);
    padding-left: 8px;
  }
  